@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: "Nunito Sans", sans-serif;*/
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    height: 100%;
    font-family: system-ui;
}
body {
    display: flex;
    flex-direction: column;
    
    min-height: 100%;

    background-color: rgba(12, 134, 12, 0.432);
    background-image: url(../img/0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
header, footer {
    background-color: rgba(255, 255, 255, 0.582);
    display: flex;
    justify-content: center;


    a {
        text-decoration: none;
        color: green;
    }
    .material-symbols-rounded {
        font-size: 40px;
    }
}
main {
    display: flex;
    justify-content: center;

    padding-top: 150px;
    padding-bottom: 150px;
}
footer {
    margin-top: auto;
}
/*PAGE1: DATE&TIME*/
    .digitalClock {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.603);
        padding: 30px;
        border-radius: 15px;

        #watch, #calendar, #message {
            display: flex;
            align-items: center;
            justify-content: center;
        };

        #watch {
            font-size: 50px;
        };
        #calendar {
            font-size: 20px;
        };
        #message {
            font-size: 16px;
        };
    }
/*PAGE2: PASSWORD*/
    .pwGenerator {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.603);
        padding: 30px;
        border-radius: 15px; 

        .pwInputs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            label {
                text-align: center;
            }
            input {
                text-align: center;
            }
            button {
                background-color: #0371d8;
                border: none;
                color: #f4f4f4;
                padding: 10px;
                border-radius: 5px;
            }
        }
        .pwResult {
            display: flex;
            justify-content: center;
        }
    }
/*PAGE3: LINKS*/
    .page3Links {
        display: flex;
        flex-direction: column;

        .linksInput {
            display: flex;
            flex-direction: column;
    
            #tagInput{
                text-align: center;
            }
            #urlInput {
                text-align: center;
            }
            #btnAdd {
                text-align: center;
            }
        }
        .linksSaved{
            display: flex;
            
            #linksDiv {
                display: flex;
                flex-direction: column;
                a {
                    color: white;
                }
            }
        }
    }
/*PAGE4: WEATHER*/
    .weatherMain{
        background: url(../img/0.jpg);
        width: 100%;
        height: 84.3dvh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }
    .weatherMain::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 84.3dvh;
        background: rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(15px);
    }
    .weatherSection {
        width: 300px;
        height: 396px;
        z-index: 1;
        background: linear-gradient(
            to top, rgba(0, 0, 0, 0.15),
            rgba(197, 98, 98, 0.15)
        );
        border-radius: 12px;
        backdrop-filter: blur(100px);
        padding: 20px;

        .input-container{
            position: relative;

            .city-imput {
                width: 100%;
                padding: 10px 16px;
                border-radius: 99px;
                border: 3px solid transparent;
                background: rgba(0, 0, 0, 0.15);
                outline: none;
                font-weight: 500;
                transition: 0.25s border;
                padding-right: 45px;
            }
            .city-imput:focus {
                border: 3px solid rgba(0, 0, 0, 0.15);
            }
            .city-imput::placeholder {
                color: rgba(255, 255, 255, 0.75);
            }
            .search-btn {
                position: absolute;
                right: 16px;
                top: 50%;
                transform: translateY(-50%);
                background: none;
                display: flex;
                border: none;
                cursor: pointer;
            }
        }
        #weatherDiv {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 4px;
            margin-bottom: 10px;

            .location-date-container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .location {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                }
                h5 {
                    font-weight: 400;
                }
            }
            .weather-summary-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                img {
                    width: 70px;
                    height: 70px;
                }
                .weather-summary-info{
                    text-align: end;
                }
            }
            .weather-conditions-container {
                display: flex;
                justify-content: space-between;
                
                .condition-item {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                }
            }
            
        }
        #forestcastDiv {
            display: flex;
            gap: 15px;
            overflow-x: scroll;
            padding-bottom: 12px;

            .forestcast-item {
                min-width: 70px;
                background: rgba(255, 255, 255, 0.1);
                display: flex;
                flex-direction: column;
                gap: 6px;
                padding: 10px;
                align-items: center;
                border-radius: 12px;
                transition: 0.3s background;

                img {
                    width: 35px;
                    height: 35px;
                }
            }
            .forestcast-item:hover {
                background: rgba(255, 255, 255, 0.15);
            }

        }
        #forestcastDiv::-webkit-scrollbar {
            height: 8px;
        }
        #forestcastDiv::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 99px;
        }
        #forestcastDiv::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.15);
            border-radius: 99px;
        }
    }