* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    font-family: system-ui;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    background-color: rgba(12, 134, 12, 0.432);
    background-image: url(../img/0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}
header {
    background-color: rgba(255, 255, 255, 0.582);
}
main {
    display: flex;
    justify-content: center;

    padding-top: 150px;
    padding-bottom: 150px;
}
footer {
    background-color: rgba(255, 255, 255, 0.582);
    margin-top: auto;
}
/*PAGE1: DATE&TIME*/
    .digitalClock {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.603);
        padding: 30px;
        border-radius: 15px;

        #watch, #calendar, #message {
            display: flex;
            align-items: center;
            justify-content: center;
        };

        #watch {
            font-size: 50px;
        };
        #calendar {
            font-size: 20px;
        };
        #message {
            font-size: 16px;
        };
    }
/*PAGE2: PASSWORD*/
    .pwGenerator {
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.603);
        padding: 30px;
        border-radius: 15px; 

        .pwInputs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            label {
                text-align: center;
            }
            input {
                text-align: center;
            }
            button {
                background-color: #0371d8;
                border: none;
                color: #f4f4f4;
                padding: 10px;
                border-radius: 5px;
            }
        }
        .pwResult {
            display: flex;
            justify-content: center;
        }
    }
/*PAGE3: LINKS*/
    .page3Links {
        display: flex;
        flex-direction: column;

        .linksInput {
            display: flex;
            flex-direction: column;
    
            #tagInput{
                text-align: center;
            }
            #urlInput {
                text-align: center;
            }
            #btnAdd {
                text-align: center;
            }
        }
        .linksSaved{
            display: flex;
            
            #linksDiv {
                display: flex;
                flex-direction: column;
                a {
                    color: white;
                }
            }
        }
    }
/*PAGE4: WEATHER*/
    .weatherSection {
        display: flex;
        flex-direction: column;

        #weatherDiv {
            display: flex;
            flex-direction: column;
            img {
                width: 50px;
            }
        }
        #forestcastDiv {
            display: flex;
            flex-wrap: wrap;

            li {
                list-style: none;
            }
        }
    }